html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  color: #b20953
}

body {
  background-color: #fff;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe500
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  margin: .3em;
  padding: .4em .1em;
}

.berries-ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0 .2em .4em
}

.berries-ul li {
  background-color: #b2a212;
  text-align: left;
  display: inline-block;
  border-radius: 4px;
  margin: 0;
  padding: .3em .1em;
}

img {
  width: 100%;
  display: block;
  padding: .2em .6em;
}

p {
  font-family: Georgia, sans-serif;
  text-align: left;
  margin: .3em;
  padding: .2em .4em .75em;
}

li a {
  text-decoration: none;
  font-family: Georgia, sans-serif;
  color: #fff;
  font-size: 1.125rem;
  padding: .4em;
}

.berries-ul .current-page {
  background-color: #b20953;
  border-radius: 4px;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: 1rem;
}

a:hover {
  background-color: #cc1465;
  border-radius: 4px;
  text-decoration: none;
  padding: .4em;
}

strong {
  color: #2f2d13
}
